acme==1.21.0
certbot==1.21.0
certbot-nginx==1.21.0
certifi==2020.6.20
chardet==4.0.0
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
idna==3.3
josepy==1.10.0
netifaces==0.11.0
parsedatetime==2.6
PyGObject==3.42.1
PyICU==2.8.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu3
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.16.0
ubuntu-pro-client==8001
ufw==0.36.1
urllib3==1.26.5
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
